---
import BaseLayout from '../layouts/BaseLayout.astro'
import AboutContent from '../../content/posts/about.md'

const pageTitle = 'About Isabelle Robinson | Artist Biography'
const pageDescription =
  'Read the biography of Isabelle Robinson and learn about the artistic practice behind her assemblages, paintings, and mixed-media work.'
---

<BaseLayout
  title={pageTitle}
  description={pageDescription}
  canonicalPath='/about/'
  pageType='AboutPage'
  ogImage='/img/isa_r_color.jpg'
>
  <main class='py-4'>
    <div
      class='container d-flex justify-content-center align-items-center align-items-xxl-center my-auto mh-100'
    >
      <div class='w-100'>
        <h1 class='text-center mb-4'>About Isabelle Robinson</h1>
      </div>
    </div>
    <div class='container'>
      <div
        class='row row-cols-1 row-cols-lg-2 d-flex d-xxl-flex justify-content-center align-items-center align-items-xxl-center py-3'
      >
        <div
          class='col d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-xxl-center'
        >
          <img
            class='rounded-circle img-fluid'
            src='/img/isa_r_color.jpg'
            alt='Portrait of artist Isabelle Robinson'
            width='250'
            height='266'
            loading='lazy'
            decoding='async'
          />
        </div>
        <div class='col fs-5'>
          <AboutContent />
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
