---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Isabelle Robinson Bio'

import { TinaMarkdown } from 'tinacms/dist/rich-text'
import { client } from '../../tina/__generated__/client'

const myPost = await client.queries.post({ relativePath: 'about.md' })
//console.log(myPost.data.post.body)
---

<BaseLayout title={pageTitle}>
  <main class='d-lg-flex align-items-lg-center flex-grow-1'>
    <div
      class='container d-flex justify-content-center align-items-center align-items-xxl-center my-auto mh-100'
    >
      <div
        class='row row-cols-1 row-cols-lg-2 d-flex d-xxl-flex justify-content-center align-items-center align-items-xxl-center py-3'
      >
        <div
          class='col d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-xxl-center'
        >
          <img
            class='rounded-circle img-fluid'
            src='/img/isa_r_color.jpg'
            width='250'
          />
        </div>
        <div class='col fs-5'>
          <TinaMarkdown content={myPost.data.post.body} />
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
