---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Isabelle Robinson Cancel Order Page'
---

<BaseLayout title={pageTitle}>
  <main>
    <div class='container text-center mt-3'>
      <h1 class='fs-1 text-center my-4'>Payment Unsuccessful</h1>
      <p class='lead text-start px-md-5'>
        There was a problem with your order.&nbsp; Please review your payment
        information. Also free me to &nbsp;<a href='#'>contact me directly.</a>
      </p>
    </div>
  </main>
</BaseLayout>
