---
import BaseLayout from '../layouts/ToolkitLayout.astro'
const pageTitle = 'Isabelle Robinson Shopping Cart'
---

<BaseLayout title={pageTitle}>
  <main class='my-3'>
    <div class='container'>
      <div
        data-reflow-type='shopping-cart'
        data-reflow-success-url='/success/'
        data-reflow-cancel-url='/cancel/'
      >
      </div>
    </div>
  </main></BaseLayout
>
