---
import BaseLayout from '../layouts/ToolkitLayout.astro'
const pageTitle = 'Isabelle Robinson Art Galleries'
---

<BaseLayout title={pageTitle}>
  <main>
    <div class='container'>
      <div class='row row-cols-1 row-cols-md-3 py-3'>
        <div class='col d-flex justify-content-center align-items-center py-3'>
          <a href='/assemblages/'>
            <div>
              <img
                class='img-fluid'
                src='/img/assemblages_icon_3.jpg'
                width='400'
              />
              <h1 class='text-center pt-2'>Assemblages</h1>
            </div>
          </a>
        </div>
        <div class='col d-flex justify-content-center align-items-center py-3'>
          <a href='/paintings/'>
            <div>
              <img class='img-fluid' src='/img/paintings.png' width='400' />
              <h1 class='text-center pt-2'>Paintings</h1>
            </div>
          </a>
        </div>
        <div class='col d-flex justify-content-center align-items-center py-3'>
          <a href='/photos/'>
            <div>
              <img class='img-fluid' src='/img/photoz.jpg' width='400' />
              <h1 class='text-center pt-2'>Fotos</h1>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
