---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Isabelle Robinson Art Projects'
---

<BaseLayout title={pageTitle}>
  <main>
    <section id='mainpic'>
      <div class='container mainpage-text'>
        <img
          class='rounded img-fluid'
          id='hero-image'
          src='/img/broken-separated-united.jpg'
          alt='Broken Separated United'
        />
        <h1 class='text-center mainpage-text' id='introtext'>
          Broken&nbsp; -&nbsp; Separated - united
        </h1>
        <h5 class='text-capitalize text-center' id='intro2text'>
          When the broken becomes whole<br />
        </h5><a href='/gallery.html'>
          <h1 class='text-center' id='gallerylink'>Explore Our Galleries</h1>
        </a>
      </div>
    </section>
  </main>
</BaseLayout>
