---
import BaseLayout from '../layouts/ToolkitLayout.astro'
const pageTitle = 'Isabelle Robinson Paintings'
---

<BaseLayout title={pageTitle}>
  <main>
    <div class='container mt-3'>
      <div
        data-reflow-type='product-list'
        data-reflow-layout='cards'
        data-reflow-order='custom_desc'
        data-reflow-product-link='/product.html?product={id}'
        data-reflow-category='746175396'
        data-reflow-show='image,name,excerpt,pagination,add-to-cart'
      >
      </div>
    </div>
  </main>
</BaseLayout>
