---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Isabelle Robinson Privacy Policy Page'
---

<BaseLayout title={pageTitle}>
  <main>
    <div class='container text-center mt-3'>
      <h1 class='fs-1 text-center my-4'>Privacy Policy</h1>
      <p class='text-start'>
        We value your privacy and are committed to protecting your personal
        information. When you visit our website or use our services, we may
        collect certain information such as your name, email address, and
        browsing activity. We use this information to provide and improve our
        services, respond to your inquiries, and personalize your experience. We
        may also use cookies and tracking technologies to gather insights about
        your usage and preferences
      </p>
      <p class='text-start'>
        We do not share your personal information with third parties, except
        when necessary to provide our services, comply with legal obligations,
        or protect our rights. We implement security measures to safeguard your
        data, but please note that no method of transmission over the internet
        is completely secure. If you have any questions about our privacy
        practices or wish to exercise your data rights, please contact us
      </p>
    </div>
  </main>
</BaseLayout>
