---
import BaseLayout from '../layouts/ToolkitLayout.astro'
const pageTitle = 'Isabelle Robinson Product Details'
---

<BaseLayout title={pageTitle}>
  <main>
    <div class='container mt-3'>
      <div
        data-reflow-type='product'
        data-bss-dynamic-product=''
        data-bss-dynamic-product-param='product'
      >
      </div>
    </div>
  </main>
</BaseLayout>
