---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Isabelle Robinson Shows and Events'
import { TinaMarkdown } from 'tinacms/dist/rich-text'
import { client } from '../../tina/__generated__/client'

// const myPost = await client.queries.post({ relativePath: 'hello-world.md' })
// console.log(myPost.data.post.title)

const articles = await client.queries.post({ relativePath: 'articles.md' })
// console.log(myPost.data.post.body)

const shows = await client.queries.post({ relativePath: 'shows.md' })
// console.log(myPost.data.post.body)
---

<BaseLayout title={pageTitle}>
  <main>
    <div class='container mt-3'>
      <h1 class='fs-1 text-center my-2'>Art Shows</h1>

      <div class='lead text-start px-md-5 fs-5 mt-3 shows'>
        <TinaMarkdown content={shows.data.post.body} />
      </div>

      <h1 class='fs-1 text-center my-2'>Articles</h1>
      <div class='lead text-start px-md-5 fs-5'>
        <TinaMarkdown content={articles.data.post.body} />
      </div>
    </div>
  </main>
</BaseLayout>
