---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Isabelle Robinson Shows and Events'
---

<BaseLayout title={pageTitle}>
  <main>
    <div class='container mt-3'>
      <h1 class='fs-1 text-center my-2'>Art Shows</h1><img
        class='img-fluid d-block mx-auto'
        src='/img/rals.jpg'
      />
      <p class='lead text-start px-md-5'>
        <br /><br /><br /><span style='color: rgb(34, 34, 34);'
          >September 2024 Labor Day Art Show, Kilmarnock VA
        </span><br /><span style='color: rgb(34, 34, 34);'
          >"Best Mixed Media Abstract</span
        ><strong><span style='color: rgb(34, 34, 34);'>"</span></strong><br
        /><br /><a
          href='https://www.joflemingcontemporaryart.com/exhibitions'
          target='_blank'
          ><strong
            ><span
              style='color: rgb(17, 85, 204); background-color: transparent;'
              >https://www.joflemingcontemporaryart.com/exhibitions</span
            ></strong
          ></a
        ><br /><br /><span
          style='color: rgb(0, 0, 0); background-color: transparent;'
          >Balancing Act | Feb 2023&nbsp; &nbsp; &nbsp;</span
        ><a
          href='https://www.joflemingcontemporaryart.com/balancing-act'
          target='_blank'
          ><span style='color: rgb(17, 85, 204); background-color: transparent;'
            >https://www.joflemingcontemporaryart.com/balancing-act</span
          ></a
        ><br /><br /><span
          style='color: rgb(0, 0, 0); background-color: transparent;'
          >Coastal Abstractions | Oct-Nov 2022 Coastal Abstractions</span
        ><br /><br />
      </p>
      <h1 class='fs-1 text-center my-2'>Articles</h1>
      <p class='lead text-start px-md-5'>
        <br /><br /><a
          href='https://christogenesis.org/coastal-abstractions/'
          target='_blank'
          ><span
            style='text-decoration: underline; color: rgb(5, 99, 193); background-color: transparent;'
            >https://christogenesis.org/coastal-abstractions/</span
          ></a
        ><br /><br /><a
          href='https://www.openhorizons.org/the-art-of-isabelle-robinson-process-theology-in-three-images.html'
          target='_blank'
          ><span
            style='text-decoration: underline; color: rgb(5, 99, 193); background-color: transparent;'
            >https://www.openhorizons.org/the-art-of-isabelle-robinson-process-theology-in-three-images.html</span
          ></a
        ><br /><br />
      </p>
    </div>
  </main>
</BaseLayout>
