---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Isabelle Robinson Cancel Order Page'
---

<BaseLayout title={pageTitle}>
  <main>
    <div class='container text-center mt-3'>
      <h1 class='fs-1 text-center my-4'>Success!</h1>
      <p class='lead text-start px-md-5'>
        You have successfully ordered!! Please check your inbox&nbsp;
        and&nbsp;expect to hear from me personally within 2 working days.
      </p>
    </div>
  </main>
</BaseLayout>
