---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Isabelle Robinson Terms of Use'
---

<BaseLayout title={pageTitle}>
  <main>
    <div class='container text-center mt-3'>
      <h1 class='fs-1 text-center my-4'>Terms of Use</h1>
      <p class='text-start'>
        By accessing and using this website, you agree to comply with these
        Terms of Use. The Site and its content are provided for informational
        and entertainment purposes only. You are responsible for ensuring that
        your use of the Site complies with applicable laws and regulations. We
        reserve the right to modify, suspend, or discontinue any aspect of the
        Site at any time without notice. Your continued use of the Site
        constitutes acceptance of any changes made to these terms.
      </p>
      <p class='text-start'>
        We do not guarantee the accuracy, completeness, or reliability of any
        information on the Site. Any reliance you place on such information is
        strictly at your own risk. We shall not be liable for any loss or damage
        arising from your use of the Site. The Site may include links to
        third-party websites, which are not under our control. We are not
        responsible for the content or practices of any linked site. Please
        review the terms and policies of any third-party site you visit through
        our Site.
      </p>
    </div>
  </main>
</BaseLayout>
