<header>
  <div class='text-dark' id='topoutnav'>
    <nav class='navbar navbar-expand-lg text-capitalize py-3 navbar-light'>
      <div class='container'>
        <a
          class='navbar-brand d-flex align-items-center'
          id='homelink'
          href='/'
          style='color: rgba(0, 0, 0, 0.9);'>isabelle Robinson</a
        ><button
          data-bs-toggle='collapse'
          class='navbar-toggler'
          data-bs-target='#navcol-2'
          ><span class='visually-hidden'>Toggle navigation</span><span
            class='navbar-toggler-icon'></span></button
        >
        <div class='collapse navbar-collapse' id='navcol-2'>
          <ul class='navbar-nav ms-auto'>
            <li class='nav-item'>
              <a class='nav-link' href='/gallery/'>Galleries</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='/shows/'>shows</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='/about/'>About</a>
            </li>
            <li class='nav-item'></li>
            <li class='nav-item'>
              <a class='nav-link' href='/contact/'>Contact</a>
            </li>
            <li class='nav-item mx-md-2'>
              <a class='btn btn-secondary' role='button' href='/cart/'
                >See Cart</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
